<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/8.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
    <testsuites>
        <testsuite name="default">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="docs/coverage"/>
        <log type="coverage-clover" target="build/coverage/clover.xml"/>
        <log type="coverage-crap4j" target="build/coverage/crap4j.xml"/>
        <log type="coverage-xml" target="build/coverage/xml"/>
        <log type="junit" target="build/coverage/junit.xml"/>
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>
</phpunit>
